ul {
	list-style: none;
	margin-left: 0px;
}

li {
	height: 40px;
}

li input[type="checkbox"] {
	float: left;
	margin-top: 12px;
	margin-bottom: 0px;
	margin-right: 5px;
}

li input[type="text"] {
	border: none;
	box-shadow: none;
	margin: 0px;
    width: 280px;
}

div.alert-box {
	position: fixed;
	right: 10px;
	top: 10px;
	width: 500px;
	z-index: 99;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease-in; 
	-moz-transition: opacity 0.5s ease-in;
	-o-transition: opacity 0.5s ease-in;
}

div.fade-in {
	opacity: 0.8;
}

div.fade-out {
	opacity: 0;
}
